{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}

<div class="container">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col">
      {% if flag %}
      <div class="lg:w-4/6 mx-auto">
        <div class="rounded-lg h-64 overflow-hidden">
          <img
            alt="content"
            class="object-cover object-center h-max w-max"
            src="{{url}}"
          />
        </div>
        <a href="{{ url }}"
          ><button
            class="
              ml-4
              inline-flex
              text-gray-400
              bg-gray-800
              border-0
              py-2
              px-6
              focus:outline-none
              hover:bg-gray-700 hover:text-white
              rounded
              text-lg
            "
          >
            Download
          </button></a
        >
        <div class="flex flex-col sm:flex-row mt-10">
          {% endif %}

          <form method="post">
            {% csrf_token %}
            <label class="block text-left" style="max-width: 1000px">
              <span class="text-gray-700">Enter Your Text</span>
              <textarea
                class="
                  form-textarea
                  mt-1
                  block
                  h-full
                  w-full
                  border-solid border-4 border-light-blue-500
                "
                rows="7"
                name="text"
                placeholder="Enter some long form content."
              ></textarea>
            </label>

            <button
              class="
                bg-blue-500
                hover:bg-blue-700
                text-white
                font-bold
                py-2
                px-4
                rounded-full
                items-center
              "
            >
              SUMIT
            </button>
          </form>

<button id="dropdownButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown button <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>

<!-- Dropdown menu -->
<div id="dropdown" class="hidden bg-white text-base z-10 list-none divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
    <ul class="py-1" aria-labelledby="dropdownButton">
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
      </li>
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
      </li>
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
      </li>
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
      </li>
    </ul>
</div>

            {% comment %}
            <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
            {% endcomment %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
